# local package
-e .

# external requirements
click
Sphinx
coverage
python-dotenv>=0.5.1
fastapi==0.104.1
uvicorn[standard]
psycopg2==2.9.6
python-dotenv==1.0.0
sqlmodel==0.0.11
ipykernel==6.26.0



# backwards compatibility
pathlib2
